<header class="mdc-top-app-bar" data-mdc-auto-init="MDCTopAppBar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="javascript:void(0);" onclick="document.getElementById('drawer').MDCDrawer.open=!0;" data-mdc-auto-init="MDCRipple" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title"><%= title %></span>
    </section>
  </div>
</header>
