<br />
<div class="mdc-card">
  <%= application.title %>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-icons">
      <a href="/application/<%= application.id %>" class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Open">open_in_new</a>
    </div>
  </div>
</div>
