<div class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust" id="drawer" data-mdc-auto-init="MDCDrawer">
  <div class="mdc-drawer__header">
    <h3 class="mdc-drawer__title"><%= user.role=="admin"?"管理员":user.role=="officer"?`干事 ${user.name}`:`社团 ${user.name}` %></h3>
    <% if (user.role === "association") { %>
      <h6 class="mdc-drawer__subtitle">本学期总分：<%= user.score %></h6>
    <% } %>
  </div>
  <div class="mdc-drawer__content">
    <ul class="mdc-list" id="menu-list">
      <a href="/home" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
        <div class="mdc-list-item-content">首页</div>
      </a>
      <% if(user.role==="admin"||user.role==="officer") { %>
        <a href="/associations" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
          <div class="mdc-list-item-content">社团</div>
        </a>
      <% } %>
      <a href="/inbox" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
        <div class="mdc-list-item-content">报告和申请</div>
      </a>
      <a href="/messages" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">message</i>
        <div class="mdc-list-item-content">消息</div>
      </a>
      <% if(user.role === "admin") { %>
        <a href="/users" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>
          <div class="mdc-list-item-content">用户设置</div>
        </a>
          <a href="/events" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">warning</i>
          <div class="mdc-list-item-content">系统日志</div>
        </a>
      <% } %>
    </ul>

    <div id="user-controls" class="mdc-list">
      <a href="/about" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
        <i class="material-icons mdc-list-item__graphic">info</i>
        <div class="mdc-list-item-content">关于</div>
      </a>
      <a href="/settings" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
        <i class="material-icons mdc-list-item__graphic">lock</i>
        <div class="mdc-list-item-content">修改密码</div>
      </a>
      <a href="/logout" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
        <i class="material-icons mdc-list-item__graphic">exit_to_app</i>
        <div class="mdc-list-item-content">退出</div>
      </a>
    </div>
  </div>
</div>
