<div class="mdc-snackbar mdc-snackbar--leading" data-mdc-auto-init="MDCSnackbar">
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label"
         role="status"
         aria-live="polite">
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/material-components-web@latest/dist/material-components-web.min.js"></script>
<script>mdc.autoInit();</script>
<script>
window.snackbar = document.querySelector(".mdc-snackbar").MDCSnackbar;
<% if(typeof snackbar !== "undefined" && snackbar) { %>
  snackbar.labelText = "<%= snackbar %>";
  snackbar.open();
<% } %>
window.drawerEl = document.getElementById('drawer');
window.drawer = window.drawerEl.MDCDrawer;
window.onresize = function() {
  var width = window.innerWidth;
  if(width > 720) {
    drawer.open=!0;
  } else {
    drawer.open=!1;
  }
};
drawerEl.style.transitionDuration = "1ms";
window.onresize();
setTimeout(function(){
  drawerEl.style.transitionDuration = "";
  document.body.classList.add("ready");
},100);
</script>
<!--div style="display:none;">
  <script src="https://s23.cnzz.com/z_stat.php?id=1275351229&web_id=1275351229" language="JavaScript"></script>
</div-->
