<a href="/report/<%= report.id %>" class="mdc-list-item report<%= (report.score !== undefined || user.role === "association")?"":" unread mdc-theme--primary" %>" data-mdc-auto-init="MDCRipple">
  <%= report.title %>
  <i class="open material-icons mdc-icon-button" title="Open">open_in_new</i>
</a>
<hr class="mdc-list-divider">
