<ul id="upload" class="mdc-list mdc-list--two-line" data-mdc-auto-init="MDCList"></ul>
<input type="hidden" id="upload-input" name="<%- id %>" />
<script>
var uploadList = document.getElementById("upload");
var uploadInput = document.getElementById("upload-input");
function post(url, data, cb) {
  cb = cb || function(){};
  fetch(url, {body:data, method:'POST'})
    .then(function(resp){return resp.json();})
    .then(function(resp){cb(null,resp);})
    .catch(cb);
}
function size(size) {
  if(size == 0) return "0B";
  var sizes = "BKMGT".split("");
  var i = 0;
  while(size >= 1) {
    size = size / 1024;
    i++;
  }
  return (size * 1024).toFixed(2) + sizes[i-1];
}
var fileinput = document.getElementById("<%- id %>");
fileinput.onchange = function(){
  var files = fileinput.files;
  for(var i = 0; i < files.length; i++) {
    var file = files[i];
    // TODO: UI
    (function(file){
      var li = document.createElement("li");
      li.className = "mdc-list-item";
      var span = document.createElement("a");
      span.className = "mdc-list-item__text";
      span.style.width = "100%";
      span.style.color = "inherit";
      span.style.textDecoration = "none";
      span.setAttribute("target", "_blank");
      var name = document.createElement("span");
      name.className = "mdc-list-item__primary-text";
      name.innerText = file.name + " " + size(file.size);
      var desc = document.createElement("span");
      desc.className = "mdc-list-item__secondary-text";
      desc.innerHTML = '<div role="progressbar" class="mdc-linear-progress"><div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar"><span class="mdc-linear-progress__bar-inner"></span></div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar"><span class="mdc-linear-progress__bar-inner"></span></div></div>';
      var progress = new mdc.linearProgress.MDCLinearProgress(desc.firstElementChild);
      progress.progress = 0;
      var del = document.createElement("i");
      del.className = "mdc-icon-button material-icons";
      del.innerHTML = "delete";
      del.onclick = function() {
        if(!li.ok) {
          uploadList.removeChild(li);
          return;
        }
        if(li.ok === "partial") {
          li.xhr.abort();
          uploadList.removeChild(li);
          return;
        }
        uploadList.removeChild(li);
        fetch("/file/" + li._id,{
          method:"DELETE"
        });
        uploadInput.value = uploadInput.value.replace("|"+li._id, "");
      };
      li.appendChild(span);
      li.appendChild(del);
      span.appendChild(name);
      span.appendChild(desc);
      uploadList.appendChild(li);

      if(file.size > 32 * 1024 * 1024) { //32 MiB. also change consts.js
        desc.innerHTML = '<span class="mdc-theme--error">文件大小超限</span>';
        li.ok = false;
        return;
      }
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/file/new/" + file.name, true);
      xhr.onprogress = function(e) {
        var _progress = e.loaded / e.total;
        progress.progress = _progress;
        return;
      };
      xhr.withCredentials = true;
      xhr.onreadystatechange = function() {
        if(xhr.readyState !== 4) return;
        var resp = xhr.response;
        try {
          resp = JSON.parse(resp);
        } catch(e) {
          console.error(e);
          li.ok = false;
          desc.innerHTML = '<span class="mdc-theme--error">网络错误</span>';
        }
        if(resp.code !== 200) {
          console.error(resp);
          desc.innerHTML = '<span class="mdc-theme--error">网络错误</span>';
          return;
        } else {
          span.href = "/file/" + resp.id;
          li._id = resp.id;
          desc.innerHTML = "上传成功";
          uploadInput.value += ("|" + resp.id);
          li.ok = true;
        }
      };
      xhr.send(file);
      li.ok = "partial";
      li.xhr = xhr;
    })(file);
  }
};
</script>
