<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>人大附中社团管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#002d4d" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.loli.net/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <%- include("partial/drawer",{user:user}) %>
    <%- include("partial/appbar",{title:"人大附中社团管理平台"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card">
            <% switch(user.role) {
                 case "admin":%>
            admin
            <% break;
               case "association":%>

               <div class="mdc-tab-bar" data-mdc-auto-init="MDCTabBar" role="tablist">
                <div class="mdc-tab-scroller">
                  <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                      <button id="report-tab" class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                        <span class="mdc-tab__content">
                          <span class="mdc-tab__text-label">活动报告</span>
                        </span>
                        <span class="mdc-tab-indicator mdc-tab-indicator--active">
                          <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                      </button>
                      <button id="application-tab" class="mdc-tab" role="tab" aria-selected="true" tabindex="1">
                        <span class="mdc-tab__content">
                          <span class="mdc-tab__text-label">申请</span>
                        </span>
                        <span class="mdc-tab-indicator">
                          <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="reports" class="tab current">
                <a href="/report/new" class="mdc-fab" data-mdc-auto-init="MDCRipple" aria-label="New">
                  <span class="mdc-fab__icon material-icons">add</span>
                </a>
                <p class="right">
                  <a href="/report/new" class="mdc-button mdc-button--raised mdc-theme--secondary-bg" data-mdc-auto-init="MDCRipple">
                    <span class="material-icons">add</span>
                    新建活动报告
                  </a>
                </p>
                <% user.reports.forEach(report => { %>
                  <%- include("partial/report-preview",{report:report}); %>
                <% }); %>
              </div>
              <div id="applications" class="tab">
                <a href="/application/new" class="mdc-fab" data-mdc-auto-init="MDCRipple" aria-label="New">
                  <span class="mdc-fab__icon material-icons">add</span>
                </a>
                <p class="right">
                  <a href="/application/new" class="mdc-button mdc-button--raised mdc-theme--secondary-bg" data-mdc-auto-init="MDCRipple">
                    <span class="material-icons">add</span>
                    新建申请
                  </a>
                </p>
                <% user.applications.forEach(app => { %>
                  <%- include("partial/application-preview",{application:app}); %>
                <% }); %>
              </div>
              <script>
              var $=function(a){return document.querySelector(a);};
              var reports=$("#reports");
              var applications=$("#applications");
              $("#report-tab").onclick=function(){
                reports.classList.add("current");
                applications.classList.remove("current");
              };
              $("#application-tab").onclick=function(){
                reports.classList.remove("current");
                applications.classList.add("current");
              };
              </script>
            <% break;
               case "officer":%>
            officer
            <% break;
               default:%>
            unknown
            <% break;
              } %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script>mdc.autoInit();</script>
    <!--div style="display:none;">
      <script src="https://s23.cnzz.com/z_stat.php?id=1275351229&web_id=1275351229" language="JavaScript"></script>
    </div-->
  </body>
</html>
