<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>人大附中社团管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#002d4d" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.loli.net/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div class="mdc-drawer mdc-drawer--modal" id="drawer" data-mdc-auto-init="MDCDrawer">
      <div class="mdc-drawer__content">
        <ul class="mdc-list" id="menu-list">
          <a href="/home" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
            <div class="mdc-list-item-content">首页</div>
          </a>
          <% if(user.role==="admin"||user.role==="officer") { %>
            <a href="/associations" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
              <div class="mdc-list-item-content">社团</div>
            </a>
          <% } %>
          <a href="/messages" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">message</i>
            <div class="mdc-list-item-content">消息</div>
          </a>
        </ul>

        <div id="user-controls" class="mdc-list">
          <a href="/settings" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
            <i class="material-icons mdc-list-item__graphic">lock</i>
            <div class="mdc-list-item-content">修改密码</div>
          </a>
          <a href="/logout" class="mdc-list-item mdc-ripple" data-mdc-auto-init="MDCRipple">
            <i class="material-icons mdc-list-item__graphic">exit_to_app</i>
            <div class="mdc-list-item-content">退出</div>
          </a>
        </div>
      </div>
    </div>
    <div class="mdc-drawer-scrim"></div>

    <header class="mdc-top-app-bar" data-mdc-auto-init="MDCTopAppBar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <a href="javascript:void(0);" onclick="document.getElementById('drawer').MDCDrawer.open=!0;" data-mdc-auto-init="MDCRipple" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
          <span class="mdc-top-app-bar__title">人大附中社团管理平台</span>
        </section>
      </div>
    </header>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card">
            <% switch(user.role) {
                 case "admin":%>
            admin
            <% break;
               case "association":%>

               <div class="mdc-tab-bar" data-mdc-auto-init="MDCTabBar" role="tablist">
                <div class="mdc-tab-scroller">
                  <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                      <button id="report-tab" class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                        <span class="mdc-tab__content">
                          <span class="mdc-tab__text-label">活动报告</span>
                        </span>
                        <span class="mdc-tab-indicator mdc-tab-indicator--active">
                          <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                      </button>
                      <button id="apply-tab" class="mdc-tab" role="tab" aria-selected="true" tabindex="1">
                        <span class="mdc-tab__content">
                          <span class="mdc-tab__text-label">申请</span>
                        </span>
                        <span class="mdc-tab-indicator">
                          <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="reports">
                <button class="mdc-fab" data-mdc-auto-init="MDCRipple" aria-label="Add">
                  <span class="mdc-fab__icon material-icons">add</span>
                </button>
                <% for(let i = 0; i < 10; i++) { %>
                <br />
                <div class="mdc-card">
                  Report Title
                  <div class="mdc-card__actions">
                    <div class="mdc-card__action-icons">
                      <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Open">open_in_new</button>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            <% break;
               case "officer":%>
            officer
            <% break;
               default:%>
            unknown
            <% break;
              } %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script>mdc.autoInit();</script>
    <!--div style="display:none;">
      <script src="https://s23.cnzz.com/z_stat.php?id=1275351229&web_id=1275351229" language="JavaScript"></script>
    </div-->
  </body>
</html>
