<br />
<div class="mdc-card">
  <%= report.title %>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-icons">
      <a href="<%= report.link %>" class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Open">open_in_new</a>
    </div>
  </div>
</div>
