html,body{
  margin: 0;
  background: #ddd;
}

.mdui-list-item-icon~.mdui-list-item-content{
  margin-left: 16px;
}

#user-controls{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#wrapper{
  text-align: center;
  width: 100%;
  height:0px;
}

@media(min-width:720px){
  #content-in,#content{
    width:720px;
  }
}
@media(max-width:719px){
  #content-in{
    width:100%;
  }
  #content-in{
    padding:0 !important;
	width:90%;
  }
}
#content-in{
  display: inline-block;
  padding:10px;
}

#content{
  display: block;
  position: relative;
  padding:3px;
  padding-bottom: 24px;
  margin-top:64px;
}

.mdc-card{
  padding: 10px;
}

#reports{
  text-align: left;
}

.mdc-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .mdc-fab {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.left{
  text-align: left;
}

.mdc-text-field, .mdc-select, .mdc-select__menu{
  width: 100% !important;
}