html,body{
  margin: 0;
  background: #ddd;
  --mdc-theme-primary: #c62828;
  --mdc-theme-secondary: #2196f3;
}

.mdui-list-item-icon~.mdui-list-item-content{
  margin-left: 16px;
}

#user-controls{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#wrapper{
  text-align: center;
  width: 100%;
  height:0px;
}

@media(min-width:720px){
  #content-in,#content{
    width:720px;
  }
}
@media(max-width:719px){
  #content-in{
    width:100%;
  }
  #content-in{
    padding:0 !important;
	width:90%;
  }
}
#content-in{
  display: inline-block;
  padding:10px;
}

#content{
  display: block;
  position: relative;
  padding:3px;
  padding-bottom: 24px;
  margin-top:64px;
}

.mdc-card{
  padding: 10px;
}

#reports, #applications{
  text-align: left;
}

.tab{
  display: none;
}

.tab.current{
  display: block;
}

.mdc-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .mdc-fab {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.mdc-text-field, .mdc-select{
  width: 100% !important;
}

#report, #application{
  display: block;
}

#report .content,
#application .content,
#message .content{
  border-radius: 5px;
  border: #ccc 1px solid;
  padding: 10px;
}

#report .right,
#application .right,
#message .right{
  vertical-align: top;
  color: #777;
}

#report table,
#application table,
#message table{
  display: inline-block;
}

.message{
  position: relative;
  min-height: 68px;
  padding-right: 58px;
}

.message-open{
  position: absolute;
  right: 12px;
  top: 12px;
}

.unread{
  font-weight: bold;
}

/* Fix MDC bug */
.mdc-theme--secondary.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-theme--secondary.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-theme--secondary.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing,
.mdc-theme--secondary.mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-theme--secondary.mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-theme--secondary.mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing,
.mdc-theme--secondary.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-theme--secondary.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-theme--secondary.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing{
  border-color: var(--mdc-theme-secondary, #2196f3);
}
.mdc-snackbar { transform: translateY(100%); }
