html,body{
  margin: 0;
  background: #ddd;
  --mdc-theme-primary: #c62828;
  --mdc-theme-secondary: #2196f3;
  height: 100vh;
}

.mdui-list-item-icon~.mdui-list-item-content{
  margin-left: 16px;
}

#user-controls{
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media(min-width:720px){
  body{
    display: flex;
  }

  #wrapper{
    flex: auto;
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    transition-property: margin-left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mdc-drawer--open ~ #wrapper{
    margin-left: 255px;
  }

  .mdc-drawer--open ~ .mdc-snackbar--leading,
  .mdc-drawer--closing ~ .mdc-snackbar--leading{
    margin-left: 255px;
  }

  .ready .mdc-drawer--open ~ #wrapper{
    transition-duration: 250ms;
  }

  .ready .mdc-drawer--closing ~ #wrapper{
    margin-left: 0;
    transition-duration: 0.2s;
  }

  #content-in, #content, #content > .mdc-card{
    overflow: auto;
    height: 100%;
  }

  #content > .mdc-card > *{
    max-width: 640px;
  }
}
@media(max-width:719px){
  #content-in{
    padding: 0 !important;
	  width: 90%;
  }

  #content-in{
    display: inline-block;
    padding:10px;
  }

  #content{
    display: block;
    position: relative;
    padding: 3px;
    padding-bottom: 24px;
    margin-top: 64px;
  }
  #wrapper{
    text-align: center;
    width: 100%;
    height: 0px;
  }
}

.mdc-card{
  padding: 10px;
  text-align: center;
}

#reports, #applications{
  text-align: left;
}

.tab{
  display: none;
}

.tab.current{
  display: block;
}

.mdc-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .mdc-fab {
    bottom: 3rem;
    right: 3rem;
  }
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.mdc-text-field, .mdc-select{
  width: 100% !important;
}

#report, #application{
  display: block;
}

#report .content,
#application .content,
#message .content{
  border-radius: 5px;
  border: #ccc 1px solid;
  padding: 10px;
}

#report .right,
#application .right,
#message .right{
  vertical-align: top;
  color: #777;
}

#report table,
#application table,
#message table{
  display: inline-block;
}

.message, .report, .application{
  position: relative;
  min-height: 68px;
  padding-right: 58px;
}

.open{
  position: absolute;
  right: 12px;
  top: 12px;
}

.unread{
  font-weight: bold;
}

.carousel-cell, .carousel-cell img{
  width: 100%;
}

.bold{
  font-weight: bold;
}

.icon{
  vertical-align: middle;
}

#users table{
  border: 1px solid #ccc;
  border-spacing: 0;
}

#users td{
  border-top: 1px solid #ccc;
}

#users tr{
  height: 50px;
}

/* Fix MDC bug */
.mdc-theme--secondary.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-theme--secondary.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-theme--secondary.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing,
.mdc-theme--secondary.mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-theme--secondary.mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-theme--secondary.mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing,
.mdc-theme--secondary.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-theme--secondary.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-theme--secondary.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing{
  border-color: var(--mdc-theme-secondary, #2196f3);
}
#drawer{z-index:4;}
.mdc-list-item__primary-text{text-align: left;}
.mdc-fab{z-index:4;}
.mdc-drawer{position:fixed;top:0;}
.mdc-drawer--open~.mdc-top-app-bar{top:0 !important;}
